
.icon-github-circled:before { content: '\e800'; } /* '' */
.icon-gmail:before { content: '\e801'; } /* '' */
.icon-light-up:before { content: '\e802'; } /* '' */
.icon-moon-inv:before { content: '\e803'; } /* '' */
.icon-sun:before { content: '\e804'; } /* '' */
